body {
    font-family: system-ui;
    font-size: 110%;
    background-image: url(bg.jpg);
}

.image-container {
    float: right;
    margin-right: 150px;
}

.profile-heading-container {
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins';
    font-size: 250%;
    color: black; 
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    margin: 10px auto;
    background-color: bisque;
}

h2 {
    font-family: 'Poppins';
    font-size: 130%;
    text-align: center;
}

h3 {
    margin-left: 30px;
}
.project-description {
    text-align: justify;
}
p {
    margin-left: 30px;
}

li {
    margin-left: 30px;
}
